/* General */
body, .list-group-item{
  background-color: lightgray;
  text-align: center;
}
ul{
  list-style-type: none;
}

/* Pokemon list buttons */
.pokemon-list-button{
  border: none;
  border-radius: 50%;

  background-color: white;
  background: linear-gradient( red 50%, white 50% ); 
  color: black;

  height: 100px;
  width: 100px;

  margin-bottom: 10px;
}
.pokemon-list-button:hover, .pokemon-list-button:focus{
  cursor: pointer;
  opacity: 0.5;
}

/* Media queries (responsive design) go at the very end of CSS file */
@media all and (max-width: 500px){

}
@media all and (min-width: 500px) and (max-width: 750px){

}
@media all and (max-width: 750px){

}